<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Member</title>
</head>
<body>
    <h1>Add new member</h1>
    <form action="addrecord/" method="post">
        {% csrf_token %}
        Name: <input name="name"><br><br>
        Address: <textarea name="address"></textarea><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>